@font-face {
  font-family: "logofont"; /* Project id 1736178 */
  src: url('/font/iconfont/logo.ttf') format('truetype');
}

.logofont {
  font-family: "logofont" !important;
  font-size: 64px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter-fill:hover {
  transform: scale(1.3);
}

.icon-twitter-fill {
  transition: transform 0.3s ease;
}

.icon-youtube-fill:hover {
  transform: scale(1.3);
}

.icon-youtube-fill {
  transition: transform 0.3s ease;
}

.icon-bilibili-fill:hover {
  transform: scale(1.3);
}

.icon-bilibili-fill {
  transition: transform 0.3s ease;
}

.icon-exp-fill:hover {
  transform: scale(1.3);
}

.icon-exp-fill {
  transition: transform 0.3s ease;
}

.icon-coolapk:before {
  content: "\e600";
}

.icon-coolapk-fill:before {
  content: "\e603";
}

.icon-leetcode:before {
  content: "\e63f";
}

.icon-pencil:before {
  content: "\f06e";
}

.icon-brush:before {
  content: "\e64f";
}

.icon-pen:before {
  content: "\e639";
}

.icon-books:before {
  content: "\e7ac";
}

.icon-plan:before {
  content: "\e67d";
}

.icon-codeforces:before {
  content: "\e620";
}

.icon-v2ex:before {
  content: "\e60e";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-douban-fill:before {
  content: "\e60a";
}

.icon-zhihu-fill:before {
  content: "\e608";
}

.icon-gitee-fill:before {
  content: "\e6d0";
}

.icon-bookmark:before {
  content: "\e627";
}

.icon-book:before {
  content: "\ef46";
}

.icon-bookmark-fill:before {
  content: "\ef47";
}

.icon-briefcase:before {
  content: "\ef4f";
}

.icon-bug:before {
  content: "\ef54";
}

.icon-map:before {
  content: "\f040";
}

.icon-qrcode:before {
  content: "\f08d";
}

.icon-copyright:before {
  content: "\f28a";
}

.icon-exp-fill:before {
  content: "\e869";
}

.icon-speakernotes:before {
  content: "\e89c";
}

.icon-notebook:before {
  content: "\e709";
}

.icon-note:before {
  content: "\e883";
}

.icon-addrbook:before {
  content: "\ef12";
}

.icon-addrcard:before {
  content: "\ef13";
}

.icon-clipcheck:before {
  content: "\ef73";
}

.icon-cliplist:before {
  content: "\ef74";
}

.icon-code:before {
  content: "\ef79";
}

.icon-comment:before {
  content: "\ef7e";
}

.icon-mail:before {
  content: "\efae";
}

.icon-image:before {
  content: "\f024";
}

.icon-images:before {
  content: "\f025";
}

.icon-mobile:before {
  content: "\f052";
}

.icon-rss:before {
  content: "\f09c";
}

.icon-rss-fill:before {
  content: "\f09d";
}

.icon-th-large:before {
  content: "\f103";
}

.icon-friends:before {
  content: "\f133";
}

.icon-users:before {
  content: "\f13a";
}

.icon-docker:before {
  content: "\f18e";
}

.icon-music:before {
  content: "\f1d7";
}

.icon-kaggle:before {
  content: "\f1dd";
}

.icon-renren:before {
  content: "\f221";
}

.icon-steam:before {
  content: "\f23b";
}

.icon-alipay-fill:before {
  content: "\e759";
}

.icon-apple-fill:before {
  content: "\e75a";
}

.icon-baidu-fill:before {
  content: "\e75c";
}

.icon-bilibili-fill:before {
  content: "\e75d";
}

.icon-dingding-fill:before {
  content: "\e75e";
}

.icon-discord-fill:before {
  content: "\e763";
}

.icon-facebook-fill:before {
  content: "\e764";
}

.icon-github-fill:before {
  content: "\e768";
}

.icon-gitlab-fill:before {
  content: "\e769";
}

.icon-instagram-fill:before {
  content: "\e76b";
}

.icon-kakao-talk-fill:before {
  content: "\e76c";
}

.icon-codepen-fill:before {
  content: "\e76d";
}

.icon-linkedin-fill:before {
  content: "\e76f";
}

.icon-line-fill:before {
  content: "\e770";
}

.icon-medium-fill:before {
  content: "\e771";
}

.icon-evernote-fill:before {
  content: "\e774";
}

.icon-mini-program-fill:before {
  content: "\e775";
}

.icon-google-fill:before {
  content: "\e778";
}

.icon-playstation-fill:before {
  content: "\e779";
}

.icon-qq-fill:before {
  content: "\e77d";
}

.icon-reddit-fill:before {
  content: "\e77e";
}

.icon-pinterest-fill:before {
  content: "\e77f";
}

.icon-skype-fill:before {
  content: "\e780";
}

.icon-slack-fill:before {
  content: "\e781";
}

.icon-stack-overflow-fill:before {
  content: "\e783";
}

.icon-telegram-fill:before {
  content: "\e785";
}

.icon-tumblr-fill:before {
  content: "\e786";
}

.icon-snapchat-fill:before {
  content: "\e787";
}

.icon-taobao-fill:before {
  content: "\e788";
}

.icon-twitter-fill:before {
  content: "\e789";
}

.icon-twitch-fill:before {
  content: "\e78a";
}

.icon-switch-fill:before {
  content: "\e78b";
}

.icon-wechat2-fill:before {
  content: "\e78d";
}

.icon-wechat-fill:before {
  content: "\e78f";
}

.icon-youtube-fill:before {
  content: "\e790";
}

.icon-weibo-fill:before {
  content: "\e791";
}

.icon-whatsapp-fill:before {
  content: "\e792";
}

.icon-xbox-fill:before {
  content: "\e795";
}
